/*头部*/







*{







	margin:0;padding;border: none;







 }







 img{







 	border: none;







 }







.twot{







	line-height: 96px;







}







.comul{







	padding-top:14px;







}







.user-box{







	padding-top:30px;







}







.fmenu a{







	line-height:90px!important;







}







.usermenu{







	top:12px







}







.sanjiao{







	left: -6px;width: 13px;







}



.logo{

	margin-right: 160px;

}



.index-logo{







	position: relative;top:-4px







}







.regiger-bg,.regiger-bg2{







	filter:alpha(opacity=50);







}







.ui-ul li img:hover{







	filter:alpha(opacity=0);







	







}







/*注册弹窗*/







.r-inp-box li div{







	margin:20px 50px 0px 50px;







}







.r-inp-box li div span{







	margin-top: 24px;







}







.r-inp-box li div input{







	margin-top: 26px;







}







.r-btn{







	line-height: 60px;







}







/*短信群发*/







.phoload-box,.dxcontent-box{







	margin-left: auto;margin-right: auto;







}







.phoload-box:after,.dxcontent-box:after,.fsdx-inp:after,.pho-table-search-inp:after,.head-btn-box:after,.fstj-s-box:after,.elastic-box-content:after{







	content: "";







	display: table;







	clear: both;







}







.phoload-box li,.dxcontent-box li{







	float: left;







}







.fsdx-inp input[type="checkbox"]{







	margin-top: 10px;







}







.fsdx-inp span{







	margin-top: 8px;







}







.phoload-box-title{







	margin-left: 90px;







}







.pho-table-search-inp-title{







	margin-left: 10px;margin-top: 4px;text-align: center;







}







.back-btn{







	line-height: 30px;display: inline-block;







}







.xlbtn{







	border: none;







}







.alwd-upload-box{







	







}







.elastic-box-content{







	margin-left: auto;







	margin-bottom: auto;







	margin-right: auto;







	margin-top: auto;







}







/*短信回复*/







.pho-search-btn li{







	margin-top: 26px;height: 30px;line-height: 30px;







}







/*发送任务*/







.pho-search-input-r li span{







	position: relative;top: 2px;







}







.fstask-s-btn{







	margin-top: 14px!important;







}







.pagetrun{







	text-align: right;







}







.pagetrun input{







	position: relative;top: 2px;







}







.head-btn-box div{







	float: left;







}







/*发送统计*/







.fstj-s-box{







	margin-top: 10px;margin-right:80px ;







}







.fstj-s-box li{







	float: left;line-height: 30px;height: 30px;







}







.regiger-btn:focus,.enty-btn:focus{







	color: #29c6f1!important;







}







.zdls-box li{







	line-height: 30px;height: 30px;







}







/*弹窗*/







.elastic-box-left p{







	margin-top:0px;margin-left: 0px;







}







.elastic-box-content{







	margin-top: 100px!important;margin-left: 80px!important;







}







.key-inp-yzbtn{







	padding-left: 4px;width: 80px;







}







.key-yz-inp{







	width: 200px!important;







}







.elastic-box-text{







	margin-top: 70px;margin-left: 120px;







}







.sc-ul li{







float: left;width: 100px;







}







.hqkeytwo-content-box{







	margin-left: 110px!important;margin-top: 120px!important;







}







.qrfscontent{







	margin-left: 140px!important;margin-top: 100px!important;







}







.loadcontent,.elastic-box-remark{







	margin-left: 90px;







}







.alwd-upload-inp{







	margin-top: 80px;margin-left: 70px;







}







.proge-div{







	margin-left: 68px;







}















.nrsm-text{







	float: left;







}







.nrsm-text-box{







	overflow: hidden;







}



/*注册*/



.r-n-title{

	text-align: left;

	padding-top:20px ;



}



.r-footer-box{



	line-height:64px;text-align: center;



}

.r-top{

	width: 1024px;

}



.r-top-box{

	

	line-height: 64px;



}



.r-space{

text-align: left;

}

.r-n-inp-box {
	padding-left: 15px;
}

.r-n-inp-box li input,.r-n-inp-box li img{



	margin-top: 10px;



}



.r-n-inp-yz-box{



	height: 45px!important;



}



.r-n-inp-yz{



	float: left;



}



.r-n-inp-yzbtn{



	float: left;margin-top: 5px!important;



}



.r-top{



	width: 100%;margin: 0 auto;



}



.r-content-box{

	width: 1024px;

	display:inline-block;



}

/*/////////////4.19*/

.r-content{

	border: none;text-align: center;vertical-align: center;

}

.r-space img{

	width:auto!important;padding-top: 110px;

}

.register-box{

	padding-top:34px;
	padding-left: 40px;padding-right: 0px;

}

.r-a-box{
	display: table-cell;
	padding-top: 20px;
	vertical-align: middle;
}

.r-n-inp-box li{

	margin-left:10px;

}

.xiyibox{

	position: absolute;

	top:8%;left: 30%;

}
body>div{
	 width: 100%; display: table;
}
.r-n-btn{
	width: 50%;
}