<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzd.phonebook.dao.SmsSpecificSymbolDao">

    <select id="querySpecificSymbolList" resultType="com.dzd.phonebook.entity.SmsSpecificSymbol">
		select id,name  from sms_specific_symbol
	</select>


</mapper>