<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzd.phonebook.dao.SysLogDao">
	<!--操作日志列表-->
	<select id="querySysLogPage" parameterType="com.dzd.phonebook.util.DzdPageParam" resultType="com.dzd.phonebook.entity.SysLog">
		select
		id,
		sys_user_id sysUserId,
		user_name userName,
		content,
		create_time createTime
		from sys_log
		where 1=1
		<if test="condition != null and condition.startInput != null">
			and	date_format(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> date_format(#{condition.startInput,jdbcType=VARCHAR}, '%Y-%m-%d')
			and date_format(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> date_format(#{condition.endInput,jdbcType=VARCHAR}, '%Y-%m-%d')
		</if>
		<if test="condition != null and condition.userName != null">
			and user_name like '%${condition.userName}%'
		</if>
		<if test="condition != null and condition.smsUserVal !=null  and condition.smsUserVal.size >0 ">
			and sys_user_id in
			<foreach collection="condition.smsUserVal" item="id"
					 index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
		<if test="condition != null and condition.sortVal != null">
			${condition.sortVal}
		</if>
	</select>
</mapper>